<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Recuperar password</h1>
      <p class="text-center lead">Introduza o seu e-mail abaixo para recuperar a sua password</p>

      <%- include('includes/messages') %>

      <div class="row">
        <div class="col-lg my-5">
          <form class="form_registo" action="/login/rpassword" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="form-group">
              <label>Endereço Email</label>
              <input type="email" class="form-control" name="email" autocomplete= "off">
            </div>
            <input type="hidden" name="admin" value="true">

            <button type="submit" class="btn btn-primary">Recuperar password</button>
          </form>

        </div>

        
        <div class="col-lg my-5">
          <p>Após efetuar o seu pedido, vai ser enviado um e-mail com um link para efetuar a alteração de password.</p>
          <p>Tenha atenção se o e-mail não foi enviado para a pasta Junk.</p>        
        </div>
      </div>
    </div>

    <div class="col-lg-2"></div>
  </div>

</div>

<%- include('includes/footer') %>