<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Reset password</h1>

      <%- include('includes/messages') %>

      <div class="row">
        <div class="col-lg my-5">
          <form class="form_accountUpdate" action="/login/resetpassword1" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <input type="hidden" class="form-control" name="id" value=<%= userId %>>
            <div class="form-group">
              <label>Senha</label>
              <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
              <label>Repita Senha</label>
              <input type="password" class="form-control" name="repassword">
            </div>

            <button type="submit" class="btn btn-primary">Alterar password</button>
          </form>

        </div>

        <div class="col-lg my-5">
          <h4>Altere a sua password</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-2"></div>
  </div>

</div>

<%- include('includes/footer') %>